@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/PragmaticaExtended-Bold.woff2") format("woff2"),
    url("../fonts/PragmaticaExtended-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
