@charset "utf-8";

@media (min-width: 1280px) {
  /* 드래그 색상변경 */
  ::selection {
    background-color: #e63772;
    color: #000;
  }

  /* 모달창 */
  #modal {
    width: 800px;
    font-size: 17px;
  }

  #modal .title h2 {
    padding-top: 50px;
    font-size: 30px;
  }

  #modal .title p {
    font-size: 20px;
  }

  #modal .end {
    border-top: 3px solid #e9dac1;
    font-size: 2rem;
  }

  nav h1 {
    width: 34vw;
    height: 15vh;
    padding-left: 26px;
  }

  #check_box + label {
    display: none;
  }

  nav #side_menu {
    position: static;
    width: 100%;
    padding: 65px 64px 20px 20px;
  }

  nav #side_menu > ul {
    display: flex;
    justify-content: flex-end;
  }

  nav #side_menu li {
    border: none;
    padding: 0 30px;
  }

  nav #side_menu li a {
    display: block;
  }

  nav #side_menu li:hover > a {
    color: #e63772;
  }

  nav #side_menu .sub_menu {
    background-color: #000;
    display: none;
    position: absolute;
    padding-top: 20px;
    /* margin-top: 20px; */
  }

  nav #side_menu li:hover .sub_menu {
    display: block;
  }

  nav #side_menu .sub_menu li {
    padding: 20px 15px;
  }

  nav #side_menu .sub_menu li a {
    display: block;
  }

  nav #side_menu img {
    display: none;
  }

  nav #side_menu .sub_menu a {
    font-size: 18px;
  }

  .color {
    width: 100%;
    display: flex;
  }

  header .color_bar {
    display: block;
    height: 60px;
    position: relative;
  }

  header .bar2 {
    width: 45%;
  }

  header .bar3 {
    width: 40%;
  }

  header .bar4 {
    width: 15%;
  }

  header .bar6 {
    width: 14.9vw;
    height: 30vh;
    background-color: #e6c637;
    position: absolute;
    top: 16%;
    right: 0;
  }

  header .header_txt {
    padding-left: 70px;
  }

  header .header_txt h2:first-child {
    font-size: 80px;
  }

  header .header_txt h2:last-child {
    font-size: 55px;
  }

  header .bar7 {
    width: 88vw;
    height: 260px;
  }

  header .bar7 .bar_txt {
    color: #000;
    width: 120%;
    position: static;
    font-size: 50px;
    padding: 20px 70px;
  }

  header .bar7 .bar_txt p {
    display: flex;
  }

  header .bar7 .bar_txt p span:last-child {
    padding-left: 24px;
    position: relative;
    z-index: 10;
  }

  header .bar7 .bar_txt .studio {
    color: #000;
    display: flex;
    align-items: center;
    margin-top: 3vh;
  }

  header .bar7 .bar_txt .studio p {
    margin-top: 5px;
    padding-left: 47px;
  }

  header .bar7 .bar_txt .studio * {
    margin: 0;
  }

  header .festival {
    width: 60%;
    height: 70%;
    position: absolute;
    left: 47%;
    top: 6%;
    z-index: 1;
  }

  header .day {
    font-size: 45px;
    position: absolute;
    top: 54%;
    z-index: 100;
    margin-left: 70px;
  }

  header .day p:first-child,
  header .day p:last-child {
    position: static;
  }

  header .day p {
    display: inline;
  }

  header .day p:first-child .size,
  header .day p:last-child .size {
    position: static;
  }

  header .day .size {
    font-size: 30px;
  }

  .message {
    height: 70vh;
  }

  .message .background {
    position: relative;
  }

  .message .background h2 {
    font-size: 130px;
    position: absolute;
    top: 9vh;
    left: 0;
    z-index: 1000;
    padding-left: 60px;
  }

  .message .bar11 {
    width: 33vw;
    position: absolute;
    top: 240px;
    z-index: 100;
  }

  .message .bar12 {
    width: 23vw;
    position: absolute;
    top: 300px;
    z-index: 100;
  }

  .circle1 {
    width: 490px;
    height: 490px;
    margin-right: 100px;
  }

  .circle2 {
    margin-top: 100px;
    width: 380px;
    height: 380px;
  }

  .circle3 {
    margin-top: 100px;
    margin-right: 100px;
    width: 560px;
    height: 560px;
  }

  .message > p {
    font-size: 40px;
    position: absolute;
    top: 31vh;
    left: -2vw;
  }

  .message .with {
    width: 384px;
    height: 76px;
    transition: 0.3s;
  }

  .message .with:hover {
    color: #000;
  }

  .message .with p {
    font-size: 30px;
  }

  .message .with img {
    transition: 1s;
  }

  .message .with:hover img {
    transform: translateX(20px);
  }

  /* 년도 슬라이드 */

  main .year_slide h4 {
    font-size: 160px;
    font-weight: 100;
    margin: 0 50px;
  }

  main .year_slide img {
    margin-top: 20px;
    width: 127px;
    height: 127px;
  }

  main .banner {
    position: relative;
  }

  /* .nda {
    margin-top: 30px;
    width: 384px;
    height: 71px;
    transition: 0.3s;
  }
  .nda:hover {
    color: #e63772;
  }
  .nda p {
    font-size: 30px;
  }
  .nda img {
    transition: 1s;
  }
  .nda:hover img {
    transform: translateX(20px);
  } */
  #program h3 {
    margin-top: 40vh;
  }

  .banner h2,
  #program h3 {
    font-size: 30px;
  }

  #program iframe {
    width: 1446px;
    height: 822px;
  }

  #program .name span {
    display: inline-block;
  }

  #program .name > span:first-child {
    font-size: 30px;
    font-weight: bold;
  }

  #program .name span:last-child {
    font-size: 25px;
    padding-left: 30px;
  }

  #program .day {
    font-size: 25px;
    font-weight: 300;
  }

  .newswrapper {
    margin: 160px 0 250px;
  }

  .newsname {
    font-size: 30px;
  }

  .news {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
  }

  .news span {
    display: inline-block;
  }

  .news tr:hover:not(.title) {
    background-color: #c9c9c9;
    color: #000;
  }

  td {
    padding: 15px 40px;
  }

  .news th {
    text-align: left;
    display: block;
    padding-left: 30px;
  }

  .news td:nth-of-type(1),
  .news td:nth-of-type(2) {
    text-align: center;
  }

  .newswrapper .more {
    right: 10vw;
    bottom: -5vh;
  }

  .newswrapper .more a {
    font-size: 1.2rem;
  }

  .newswrapper .more a:hover {
    color: #e63772;
  }

  footer {
    position: relative;
    padding-bottom: 100px;
  }

  footer .footer_box {
    width: 100%;
    display: flex;
    padding: 50px 80px 0;
  }

  footer address {
    width: 60%;
    font-size: 20px;
  }

  footer address p:first-child {
    color: #e63772;
  }

  footer address p:last-child {
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  footer #footer_menu {
    font-family: "Pragmatica";
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  footer #footer_menu > li {
    /* padding: 0 5px; */
    width: 18%;
    box-sizing: border-box;
  }

  footer #footer_menu a {
    padding-bottom: 0;
    border: none;
    font-size: 18px;
  }

  footer #footer_menu .footer_sub {
    margin-top: 20px;
    width: 150%;
    margin-left: 10%;
  }

  footer #footer_menu .footer_sub li {
    text-align: left;
    /* width: 120%; */
  }

  footer #footer_menu .footer_sub li a {
    text-align: left;
    padding: 5px 0;
    /* margin-left: 40px; */
    line-height: normal;
    font-size: 16px;
  }

  footer #footer_menu .footer_sub li a:hover {
    color: #e63772;
  }

  footer .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  footer .bottom .shortcut {
    width: 70%;
  }

  footer .shortcut {
    border: none;
    padding-left: 90px;
    text-align: left;
    bottom: 0;
  }

  footer .shortcut a {
    font-size: 20px;
    padding: 15px 30px;
    transition: 0.8s;
  }

  footer .shortcut a:hover {
    background-color: #e63772;
    color: #000;
  }

  footer .icon {
    width: 30%;
    left: auto;
    /* right: -70vw; */
    right: -15vw;
    top: auto;
    bottom: 50px;
    cursor: pointer;
  }

  footer .icon li {
    width: 10%;
  }

  footer .icon img {
    width: 50%;
  }

  footer .icon li:nth-child(2) img {
    width: 1.1vw;
  }
}
