@charset "utf-8";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
}

/* 모달창 */
#modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  background-color: #187498;
  z-index: 10000;
  width: 350px;
  height: 400px;
}
#modal .modal_txt {
  padding: 30px 20px;
}
#modal .modal_txt p {
  padding-top: 10px;
}
#modal h2 {
  font-size: 18px;
}
#modal .content {
  padding-top: 30px;
}

#modal .en {
  display: none;
}
#modal .end {
  margin-top: 25px;
  font-size: 1.2rem;
  text-align: right;
  border-top: 1px solid orange;
}
#modal > button {
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 51%;
  border: 1px solid #4d4d4d;
}
#modal > button:nth-of-type(2) {
  right: 0;
}
/* header 영역 */
header {
  position: relative;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  display: flex;
  width: 40vw;
  height: 8vh;
  background-color: #e6c637;
}

#check_box {
  display: none;
}

#check_box + label {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 10000;
  margin-right: 15px;
}

#check_box + label > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: all 300ms;
}

#check_box:checked + label > span:nth-child(1) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(45deg);
}

#check_box + label > span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}

#check_box:checked + label > span:nth-child(2) {
  opacity: 0;
}

#check_box + label > span:nth-child(3) {
  bottom: 0;
}

#check_box:checked + label > span:nth-child(3) {
  top: 50%;
  transform: translate(0, -50%);
  transform: rotate(-45deg);
}

#side_menu {
  font-family: "Pragmatica";
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #000;
  right: -300px;
  transition: all 300ms;
  z-index: 1000;
  top: 0px;
  padding: 60px 20px 20px 20px;
  box-sizing: border-box;
}

#side_menu li {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}
#side_menu li.on {
  color: #e63772;
}
#side_menu li img {
  position: absolute;
  right: 5vw;
  width: 8%;
  margin-top: 1vh;
}
#side_menu li > .sub_menu {
  display: none;
}
#side_menu li > .sub_menu li {
  border: none;
  font-size: 16px;
}
#side_menu li > .sub_menu li a {
  padding-left: 10px;
}
#side_menu li:last-child {
  border: none;
}

#side_menu li a {
  display: block;
  color: #fff;
}

#check_box:checked + label + #side_menu {
  right: 0;
}

/* color bar */
header .color_bar {
  width: 100%;
  height: 4vh;
}

header .bar1,
header .bar6,
header .bar9,
header .bar10 {
  background-color: #e63772;
}

header .bar2,
header .bar4,
header .bar5,
header .bar8,
header .bar10,
header .bar11 {
  background-color: #172774;
}

header .bar3,
header .bar7,
header .bar12 {
  background-color: #e6c637;
}

.bar3,
.bar4,
.bar8,
.bar10,
.bar11,
.bar12 {
  display: none;
}

header .bar7 {
  height: 131px;
}

header .bar7 .bar_txt {
  color: #000;
  position: absolute;
  top: 50vh;
  padding: 0 10px;
  z-index: 10;
}

header .bar7 p {
  font-family: "Pragmatica";
  font-weight: bold;
}

.bar7 span {
  display: block;
}

header .bar7 .studio {
  margin-top: 5px;
  position: relative;
  z-index: 100;
}

header .bar7 .studio h3 {
  margin-top: 1.5vh;
}

header .bar7 .studio p {
  margin-top: 13px;
}

header .header_txt {
  padding: 10px 15px;
}

.header_txt h2:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.header_txt h2:last-child {
  font-family: "Pragmatica";
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  width: 120%;
  position: relative;
  z-index: 100;
}

header .day {
  font-family: "Pragmatica";
  font-size: 1.4rem;
  font-weight: bold;
}

header .day p:first-child {
  position: absolute;
  top: 33.5vh;
  left: 15px;
}

header .day p:last-child {
  position: absolute;
  top: 37.8vh;
  left: 23px;
}

header .day p:first-child .size {
  position: absolute;
  top: -3px;
}

header .day p:last-child .size {
  position: absolute;
  top: -3px;
  z-index: 10;
}

header .day .size {
  font-size: 1.125rem;
  padding-left: 10px;
}

header .festival {
  height: 48vh;
  position: absolute;
  top: 21%;
  left: 40%;
  z-index: 1;
}
header .background h2 {
  font-family: "Pragmatica";
  font-weight: bold;
  font-size: 3.4rem;
  text-align: center;
  padding-top: 6vh;
  position: relative;
  z-index: 10;
}

.message {
  font-family: "Pragmatica";
  font-weight: bold;
  width: 100%;
  height: 60vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.message::after {
  width: 100%;
  height: 100%;
  content: "";
  background: url("../images/bg.jpg") 50% / cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.message > p {
  text-align: left;
  margin-top: 13vh;
  margin-left: 10vw;
}

.circle {
  border: 1px solid #fff;
  border-radius: 50%;
}

.circle1 {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -35px;
  right: -30px;
}

.circle2 {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 155px;
}

.circle3 {
  width: 125px;
  height: 125px;
  position: absolute;
  top: 270px;
  right: -30px;
}

.message .with {
  background-color: #e63772;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 266px;
  height: 45px;
  border-radius: 38px;
  cursor: pointer;

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.message .with img {
  padding-left: 15px;
}

main {
  overflow: hidden;
}

main .year_slide {
  display: none;
}
.banner {
  margin-top: 100px;
  position: relative;
}
.banner h2 {
  font-family: "Pragmatica";
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 50px;
  text-align: center;
}
#dance_slide {
  width: 600%;
  display: flex;
  /* border-top: 2px solid #fff; */
  /* border-bottom: 2px solid #fff; */
  /* padding: 30px 0; */
  position: relative;
}

#dance_slide li {
  width: 100%;
  height: 100%;
  /* margin: 0 20px; */
  /* padding: 50px 40px; */
  /* border-right: 2px solid #fff; */
  cursor: pointer;
  position: relative;
}

#dance_slide .slide_txt {
  text-align: center;
}

#dance_slide .slide_txt h2 {
  margin: 0;
  padding: 20px 0 10px;
}
#dance_slide h2,
#dance_slide p {
  display: none;
}
#dance_slide li > img {
  position: relative;
}
.slide-next,
.slide-prev {
  display: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.slide-next {
  right: 20px;
}
.slide-prev {
  left: 20px;
}
/* .nda {
  font-family: "Pragmatica";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  width: 249px;
  height: 44px;
  border-radius: 36px;
  margin: -20px auto;

  cursor: pointer;

  position: relative;
  z-index: 1;
}

.nda img {
  padding-left: 20px;
} */

#program {
  margin-top: 80px;
  text-align: center;
}

#program h3 {
  font-family: "Pragmatica";
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 70px;
}

#program iframe {
  width: 300px;
  height: 170px;
}

#program .name {
  font-family: "Pragmatica";
  padding-top: 30px;
}

#program span {
  display: block;
  text-transform: uppercase;
}

#program .day {
  padding-top: 15px;
  padding-bottom: 100px;
}
/* 뉴스 */
.newsname {
  font-family: "Pragmatica";
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 70px;
  text-align: center;
}
.news {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  /* text-align: center; */
}
.news span {
  display: block;
}
table {
  margin-bottom: 100px;
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  border-spacing: 10px;
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid rgb(168, 168, 168);
}
td{
  /* border: 1px solid #ccc; */
  padding: 15px; /* 테두리 안쪽 여백 */
  text-align: center;
}
.news tr:first-child td:first-child {
  text-align: center;
}
.news td:nth-of-type(1) {
  width: 80%;
  text-align: left;
}
.news td:nth-of-type(2) {
  display: none;
}
.news td:nth-of-type(3) {
  width: 20%;
}
/* footer */
footer {
  border-top: 2px solid #e63772;
  position: relative;
  overflow: hidden;
}

footer address {
  padding: 30px 15px;
  font-style: normal;
}

footer address p:nth-of-type(4) {
  margin-top: 60px;
  font-size: 14px;
}

footer #footer_menu {
  display: none;
}
footer .icon {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  top: 18vh;
  left: 15px;
}
footer .icon li {
  text-align: center;
  width: 10%;
}
footer .icon img {
  width: 50%;
}
footer .icon li:nth-child(2) img {
  width: 3vw;
}
footer .shortcut {
  border-top: 2px solid #e63772;
  padding: 30px 0;
  text-align: center;
}

footer a {
  text-align: center;
  border: 1px solid #e63772;
  display: inline-block;
  padding: 10px 20px;
}
