@charset "utf-8";

@media (min-width: 1280px) {

  body {
    height: 100%;
    position: relative;
  }

  /* 햄버거 메뉴 */
  #slide-open {
    display: none;
  }

  /* 로고 */
  header .head {
    height: 80px;
  }

  .wrapper .logo {
    text-align: left;
    padding: 30px 0;
    margin-left: 120px;
  }

  /* 메뉴 */
  nav {
    height: 70px;
  }

  nav h1 {
    padding-left: 26px;
    width: 11%;
  }

  nav h1 img {
    width: 100%;
  }

  #check_box+label {
    display: none;
  }

  nav #side_menu {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    /* padding: 65px 64px 20px 20px; */
  }

  nav #side_menu #menu {
    padding-top: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-end;

  }

  nav #menu .main_menu {
    border: none;
  }

  #menu .main_menu:nth-child(7),
  #menu .main_menu:nth-child(8) {
    display: none;
  }

  nav #side_menu li {
    border: none;
    padding: 0 20px;
    width: 10%;
  }

  nav #side_menu li a {
    display: block;
    font-size: 20px;
  }

  nav #menu li a img {
    width: 100%;
  }

  nav #side_menu .sub_menu li a {
    font-weight: normal;
  }

  /* 마우스 이벤트 */
  nav #side_menu .main_menu a:hover {
    color: #ab2d2a;
  }

  nav #side_menu .sub_menu li:hover {
    background-color: #ededed;
  }

  nav #side_menu .sub_menu li>a:hover {
    color: #000;

  }

  nav #side_menu .sub_menu {
    background-color: #fff;
    display: none;
    position: absolute;
    padding-top: 10px;
  }

  nav #side_menu li:hover .sub_menu {
    display: block;
  }

  nav #side_menu .sub_menu li {
    padding: 0px 15px;
    width: 100%;
  }

  nav #side_menu .sub_menu li a {
    display: block;
  }

  #side_menu li>.sub_menu li a {
    font-size: 18px;
  }

  /* 슬라이드 이미지 */
  #title_img #title .img1 {
    background-image: url(../images/bg1.jpg);
  }

  #title_img #title .img2 {
    background-image: url(../images/bg2.jpg);
  }

  #title_img #title .img3 {
    background-image: url(../images/bg3.jpg);
  }

  .content {
    position: relative;
  }

  #title_img #btns {
    display: flex;
  }

  #title_img #btns li {
    color: #fff;
    position: absolute;
    top: 45%;
    font-size: 3rem;
    cursor: pointer;
  }

  #title_img #btns .prev {
    left: 2%;
  }

  #title_img #btns .next {
    right: 2%;
  }

  /* 컨텐츠 공통 */
  main {
    width: 100%;
  }

  main .sub_title {
    padding-top: 150px;
  }

  main .sub_title>p {
    font-size: 20px;
  }

  main .sub_title h3 {
    font-size: 40px;
  }

  main .sub_title .more a {
    font-size: 20px;
    color: #000;
  }

  main .sub_title .more a:hover img {
    transition: .5s;
    transform: translateX(10px);
  }

  main .sub_title .more>a>img {
    width: 40px;
  }

  main .sub_title .border {
    margin-bottom: 80px;
    width: 100px;
  }

  main .sub_title .bold {
    font-size: 24px;
  }



  /* 제품 소개 */
  .slider .list {
    margin: 30px;
  }

  .slider .list .product {
    width: 200px;
    background-color: #ededed;
    border-radius: 10px;
    height: 140px;
  }

  .slider .list p {
    font-size: 20px;
    margin-top: 14px;
  }

  .slider .swiper-prev,
  .slider .swiper-next {
    width: 60px;
  }

  .slider .swiper-prev {
    left: -50px;
  }

  .slider .swiper-next {
    right: -50px;
  }

  /* 이벤트 배너 */
  main .event {
    display: block;
    display: none;
    width: 100%;
    margin-top: 170px;
  }

  main .expert,
  main .magazine,
  main .hausys_box {
    padding-top: 0;
  }

  /* 이미지 마우스 이벤트 */
  .go:hover .expert_img,
  .life:hover .magazine_img,
  .pic:hover .news_img {
    opacity: 0.6;
    transition: 1s;
  }

  /* 전문가 시공사례 */
  main .expert {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  main #expert_wrapper .more {
    position: relative;
    left: 40%;
  }

  main .expert #expert_box1,
  main .expert #expert_box2,
  main .expert #expert_box3 {
    padding: 0 30px;
  }

  main .expert .expert_img {
    width: 25vw;
    height: 50vh;
  }

  /* 라이프 매거진 */
  main .magazine {
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  main #magazine_wrapper .more {
    position: relative;
    left: 40%;
  }

  main .magazine .magazine_img {
    width: 18vw;
    height: 35vh;
    text-indent: -9999px;
  }

  main .magazine .life {
    margin: 20px 35px;
  }

  main .magazine .bold {
    font-size: 18px;
    padding-top: 20px;
  }

  main .magazine .color {
    padding-bottom: 25px;
  }

  /* 론첼 배너 */
  main .lonchel {
    background: url(../images/banner-2.jpg) no-repeat 50% 30% / cover;
    height: 40vh;
    display: block;
    margin-top: 200px;
    color: #fff;
    position: relative;
  }

  main .lonchel #lonchel_img {
    text-indent: -9999px;
  }

  main .lonchel .txt {
    position: absolute;
    top: 35%;
    left: 28%;
  }

  main .lonchel h2 {
    font-size: 45px;
    font-weight: bold;
  }

  main .lonchel p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 30px;
  }

  /* 하우시스 뉴스 */
  main .hausys_news {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  main #news_wrapper .more {
    display: block;
    position: relative;
    left: 42%;
  }

  main .hausys_news .pic {
    padding: 0 20px;
  }

  main .hausys_news .bold {
    font-size: 16px;
    margin: 0 auto;
  }

  main .hausys_news .color {
    font-size: 14px;
    margin: 0 auto;
  }

  main .hausys_news .news_img {
    margin: 0 auto;
  }

  main .hausys_news .pic a .news_img {
    margin: 0;
    width: 20vw;
    height: 40vh;
  }

  main .hausys_news #news_box2 .news_img {
    background: url(../images/news-img2.jpg) no-repeat 50% 50% / cover;
  }

  main .hausys_news #news_box3 .news_img {
    background: url(../images/news-img3.jpg) no-repeat 50% 50% / cover;
  }

  main .hausys_news #news_box4 .news_img {
    background: url(../images/news-img4.jpg) no-repeat 50% 50% / cover;
  }

  main .hausys_news #news_box2,
  main .hausys_news #news_box3,
  main .hausys_news #news_box4 {
    display: block;
  }

  main .hausys_box .bottom_left,
  main .hausys_box .bottom_right {
    display: none;
  }

  /* 푸터 */
  footer {
    font-size: 16px;
    overflow: hidden;
  }

  footer .contact {
    height: 20vh;
    padding: 30px 0;
    position: relative;
  }

  footer .contact img {
    width: 10%;
    position: absolute;
    left: 150px;
  }

  footer .contact #footer_gnb {
    position: absolute;
    top: 40px;
    left: 390px;
  }

  footer .contact .num {
    text-align: left;
    position: absolute;
    left: 400px;
    top: 70px;
  }

  footer .shortcut {
    padding: 0;
    color: #939393;
  }

  footer .shortcut p {
    position: absolute;
    right: 150px;
    top: 85px;
  }

  footer .shortcut p:first-child {
    top: 40px;
  }

  footer .shortcut a {
    color: #939393;
  }

  footer .shortcut p:last-child {
    line-height: 50px;
  }

  footer .copyright {
    font-size: 16px;
  }

  /* 푸터 마우스 이벤트 */
  footer .contact #footer_gnb li a:hover {
    color: #ab2d2a;
  }

  footer .contact .shortcut p:nth-child(2):hover {
    background-color: #939393;
    transition: 0.8s;
  }

  footer .contact .shortcut p:nth-child(2):hover a {
    color: #fff;
    transition: 0.8s;
  }
}