@charset "utf-8";

body {
  font-family: "Pretendard Valiable", "맑은 고딕", 돋움, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin: 0;
}

a {
  color: #000;
}

/* 헤더 */
header .title {
  padding: 15px 0;
  position: relative;
}

header .title>a:nth-child(2) {
  position: absolute;
  right: 5px;
}

header .title>a:nth-child(2) img {
  width: 55%;
}

/* 햄버거 메뉴 */
.wrapper{
  width:100%;
}
.container{
  width:100%;
  border:1px solid #e1e1e1;
}
.head{
  width:100%;
  height:50px;
  border-bottom:1px solid #e1e1e1;
  position:relative;
}
.slide-open{
  position:absolute;
  top:0;
  right:0;
  width:50px;
  height:50px;
  cursor:pointer;
}
.burgur{
right: 15px;
top: 23px;
position: absolute;
width: 20px;
height: 2px;
background: #000000;
}
.burgur .top-line{
width: 20px;
height: 2px;
background-color: #000000;
bottom: -5px;
content: '';
position: absolute;
right: 0;
transition: transform .3s;

}
.burgur .bot-line {
width: 20px;
height: 2px;
background-color: #000000;
top: -5px;
content: '';
position: absolute;
right: 0;
transition: transform .3s;
}

.burgur.on {
width: 0;
}
.burgur.on .bot-line {
transform: translateY(5px) rotate(135deg);
}
.burgur.on .top-line{
transform: translateY(-5px) rotate(-135deg);
}
/* 상단 로고 */
.logo{
  padding-top:10px;
}
/* 슬라이드 이미지 */
.body{
  position:relative;
  overflow:hidden;
}
.content{
  height:100%;
  font-size:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}

#title_img {
  width: 100%;
  height: 70vh;
  position: relative;
}

#title_img #title {
  height: 70vh;
}

#title_img #title .slide_item {
  width: 100%;
  height: 70vh;
  position: absolute;
  background: no-repeat 100% / cover;
  transition: 1s;
  opacity: 0;
  text-indent: -9999px;
}

#title_img #title .img1 {
  background-image: url(../images/m-slide.jpg);
}

#title_img #title .img2 {
  background-image: url(../images/m-slide2.jpg);
}

#title_img #title .img3 {
  background-image: url(../images/m-slide3.jpg);
}

#title_img #title .slide_item.active {
  opacity: 1;
}

#title_img #btns {
  display: none;
}

/* 메뉴 */
.slide{
  width:100%;
  position:absolute;
  left:-100%;
  top:0;
  right:0;
  bottom:0;
  transition: left .3s;
}
.slide.on{
  left:0;
}
.slide ul li{
  display:inline-block;
  width:100%;
}
nav #menu {
  padding-top: 7%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
nav #menu li a {
  display: block;
  padding:20px;
}
nav #menu li a:focus {
 background-color: #E9E8E8;
 border-bottom: 1px solid #373737;
}

nav #menu li {
  text-align: left;
}
nav #menu .main_menu {
  
  border-bottom: 1px solid #373737;
}
nav #menu li a {
  font-weight: bold;
  font-size: 18px;
}

nav #menu li a img {
  width: 25%;
  vertical-align: baseline;
}

nav #menu li:last-child a img {
  margin-bottom: 3px;
}

/* 소메뉴 */
nav #menu li .sub_menu a {
  font-size: 16px;
}


/* 컨텐츠 공통 */
main .sub_title {
  padding: 0 23px;
  position: relative;
}

main .sub_title .more {
  position: absolute;
  right: 30px; 
  margin-bottom: 10px;
}

main .sub_title .more a {
  color: #000;
  line-height: 1.5;
}

main .sub_title .more a img {
  width: 25px;
}

main .sub_title .bold {
  padding: 15px 0 10px;
  font-size: 17px;
  font-weight: bold;
}

main .sub_title .color {
  padding-bottom: 50px;
  color: #939393;
  font-size: 15px;
  margin: 0;
}

/* 컨텐츠 제목 */
main .sub_title>p {
  color: #373737;
  margin-top: 75px;
}

main .sub_title h3 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
}

main .sub_title .border {
  text-indent: -9999px;
  border-top: 2px solid #ff5519;
  width: 60px;
  margin: 15px auto;
  padding-bottom: 30px;
}


/* 이벤트 배너 */
main .event {
  display: none;
}

/* 제품소개 */
.slider {
  position: relative;
  max-width: 1180px;
  margin: 20px auto 0;
  padding: 0 50px;
}
.slider .inner {
  overflow: hidden;
  margin-right: -1.333%;
}
.slider .swiper-slide {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.slider .swiper-prev, .slider .swiper-next {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  background:url('images/arrow.png') center center no-repeat;
  background-size: cover;
  text-indent: -999em;
  cursor: pointer;
  font-size: 0;
}
.slider .swiper-prev {
  left: 0;
  transform: translate(0,-50%);
  background-image: url(../icon/chevron_left.svg);
}
.slider .swiper-next {
  right:0;
  transform: translate(0,-50%);
  background-image: url(../icon/chevron_right.svg);
}

.slider .product {
  width: 90px;
  background-color: #ededed;
  border-radius: 10px;
  height: 80px;
}
.slider .list {
  margin: 27px 15px;
}
.list p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
/* 더보기 위치 */
main .expert,
main .magazine,
main .hausys_box {
  padding-top: 30px;
}
/* 전문가 시공사례 */
main .expert {
  margin: 0;
}

main .expert .expert_img {
  width: 85vw;
  height: 40vh;
  text-indent: -9999px;
  margin: 0 auto;
}

main .expert #expert_box1 .expert_img {
  background: url(../images/main-img01.jpg) no-repeat 100% / cover;
  background-position: 50% 80%;
}

main .expert #expert_box2 .expert_img {
  background: url(../images/main-img02.jpg) no-repeat 100% / cover;
  background-position: 50% 70%;
}

main .expert #expert_box3 .expert_img {
  background: url(../images/main-img03.jpg) no-repeat 100% / cover;
  background-position: 50% 65%;
}

main .expert #expert_box3 .color {
  padding: 0;
}

/* 라이프 매거진 */
main .magazine .magazine_img {
  width: 85vw;
  height: 40vh;
  text-indent: -9999px;
  margin: 0 auto;
}

main .magazine #magazine_box1 .magazine_img {
  background: url(../images/main-img04.jpg) no-repeat 100% / cover;
  background-position: 50% 65%;
}

main .magazine #magazine_box2 .magazine_img {
  background: url(../images/main-img05.jpg) no-repeat 100% / cover;
  background-position: 70% 60%;
}

main .magazine #magazine_box3 .magazine_img {
  background: url(../images/main-img06.jpg) no-repeat 100% / cover;
  background-position: 50% 65%;
}

main .magazine #magazine_box4 .magazine_img {
  background: url(../images/main-img07.jpg) no-repeat 100% / cover;
  background-position: 60% 65%;
}

main .magazine #magazine_box5 .magazine_img {
  background: url(../images/main-img08.jpg) no-repeat 100% / cover;
  background-position: 50% 65%;
}

main .magazine #magazine_box6 .magazine_img {
  background: url(../images/main-img09.jpg) no-repeat 100% / cover;
  background-position: 50% 65%;
}

main .magazine #magazine_box7 .magazine_img {
  background: url(../images/main-img10.jpg) no-repeat 100% / cover;
  background-position: 62% 65%;
}

main .magazine #magazine_box8 .magazine_img {
  background: url(../images/main-img11.jpg) no-repeat 100% / cover;
  background-position: 50% 65%;
}

main .magazine #magazine_box8 .color {
  padding: 0;
}

/* 론첼 배너 */
main .lonchel {
  display: none;
}

/* 하우시스 뉴스 */
main #news .news_wrapper #news_box1 {
  margin-top: 50px;
}

main .hausys_news .news_img {
  width: 85vw;
  height: 40vh;
  text-indent: -9999px;
  margin: 0 auto;
}

main .hausys_news #news_box1 .news_img {
  background: url(../images/news-img1.jpg) no-repeat 100% / cover;
  background-position: 50% 65%;
}

main .hausys_box #news_box2,
main .hausys_box #news_box3,
main .hausys_box #news_box4 {
  display: none;
}

main .hausys_news .color {
  color: #6f6f6f;
  width: 300px;
  margin: 0 auto;
}

/* footer */
footer {
  text-align: center;
  font-size: 14px;
}

footer .contact {
  background-color: #1c1c1c;
  color: #939393;
}

footer .contact a {
  color: #939393;
}

footer .contact img {
  width: 40%;
  padding: 50px 0 25px;
}

/* 이용약관 */
footer .contact #footer_gnb {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

footer .contact #footer_gnb a {
  display: block;
}

footer .contact #footer_gnb li {
  align-items: center;
  padding: 0 12px;
  border-right: 1px solid #c1c1c1;
}

footer .contact #footer_gnb li:last-child {
  border: none;
}

/* 주소 */
footer .num address {
  font-style: normal;
  padding: 5px 0;
}

footer .num p {
  padding: 5px 0;
}

footer .num p:last-child {
  padding-bottom: 20px;
}

/* 바로가기 버튼 */
footer .shortcut {
  font-size: 20px;
  padding-bottom: 20px;
}

footer .shortcut p {
  padding-bottom: 20px;
}

footer .shortcut p:last-child {
  width: 250px;
  height: 54px;
  border: 1px solid #939393;
  margin: 0 auto;
  line-height: 3rem;
  font-size: 22px;
}

footer .copyright {
  background-color: #141414;
  color: #6f6f6f;
  font-size: 11px;
  padding: 15px 0;
  text-transform: uppercase;
}